

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container1{
    background: url('/static/img/background.jpg') no-repeat center center/cover;
    height:100vh;
}
.container h1{
    text-align:center;
    flex:center;
}

/* NAVBAR */
#navbar{
    background-color: rgb(153,102,102,0.5);
    color:black;
    overflow:auto;
    padding:5px;
    font-weight:normal;
}
#navbar a{
    color:black;
    text-decoration: none;
    overflow:auto;
    padding-left: 20px;
}
#navbar a:hover{
    color:black;
    text-decoration: none;
    overflow:auto;
    padding-left: 20px;
}

#navbar h1{
    float:left;
    padding-top:10px;
}

#navbar ul{
    float:right;
    list-style:none;
}

#navbar ul li{
    float:left;
    padding:5px;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    font-weight:normal;

}


/* Rent info */
.icons{
    padding:5px;
}
.icons i{
    padding:20px;
    background-color: rgb(234, 218, 219) ;
    border-radius: 50%;
    color:rgb(153,102,102,0.5);
}
.icons p{
    padding:10px;
}


#flex-items{
    padding-top:30px ;
    padding-bottom:80px ;
    margin:10px;
    display:flex;
    justify-content: center;
    text-align: center;
    height:100%;
}

.box{
    border-radius: 25px;
    border:solid;
    border-width:5px;
    border-color: rgb(234, 218, 219);
    padding:20px;
    margin:10px;
}

.rent1{
    padding:5px;
    padding-top: 40px;
    font-weight: 1;
    color:black;
    font-family: 'Tangerine', cursive;
    font-size:50px;
    text-align: center;
}
.box h1{
    padding:10px;
    font-family: 'Tangerine', cursive;
    font-size:40px;
    padding-top:15px;
    font-weight: 1;
}
.rent-descrip{
    padding:19px;
    

}
.centertext{
    margin: 0;
    font-family: 'Tangerine', cursive;
    font-size:35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centertext p{
    font-size:40px;
 
}
.miusha{
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
}
/* carousel */

/* Position the image container (needed to position the left and right arrows) */
.renting{
   background-color: rgb(234, 218, 219);
    }
.container {
   height:40%;
    position: relative;
  }
 
  .container2 {
      padding:200px;
      padding-top: 10px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img{
    height:67vh;
    width:40vh;
    
  }
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.myButton {
   
	background-color:rgb(153,102,102,0.5);
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:black;
    font-family: 'Tangerine', cursive;
	font-size:35px;
	padding:10px;
	text-decoration:none;
    text-shadow:0px 1px 0px rgb(153,102,102,0.5);  
    left:50%;
    top:90vh;
    text-align:center;

}
.myButton:hover {
	background-color:#996666;
}


/* footer */

footer {
   height:40px;
    text-align: center;
    padding: 3px;
    background-color: rgb(153,102,102,0.5);
    color:black;
  }
        