{% extends 'rent/main.html'%}
{% load static %}
{% block content %}
<h3 class="headings" style="text-align: center;">Currently available products</h3>

<div class="container col-lg-12">
    <div class="row ">
      {% for product in products %}
        <div class="col-md-4" >
            <div class="card-deck">
              <div class="card h-100 flex-column justify-content-center" style="width:100px;background-color: pink;margin:10px;" >
                <img class="card-img-top" src="{{product.imageURL}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="text-align:center;font-size:15px"><b>{{product.name}}</b></h5>
                <p class="card-text" style="font-size:15px"><b>Description: </b>{{product.description}}</p>
                <p class="card-text" style="font-size:15px"><b>Price:</b>{{product.retail_price}}</p>
             
              </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock content %}
